/******************** 
* MAIN 
********************/

/* NAVBAR */

.main-header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

/* NAVBAR LOGO */

.nav-img {
    display: flex;
    align-items: center;
    flex-basis: 200px;
}

/* NAVBAR MENU */

.nav-menu {
    flex-grow: 1;
    margin: 0 50px;
}

.nav-menu .nav-list {
    display: flex;
    justify-content: space-between;
}

/* NAVBAR CTA */

.nav-cta .cta-item {
    position: relative;
    padding: 0 10px;
}

/******************** 
* MAIN 
********************/

/* HERO SLIDER */

.hero-slider,
.students-slider {
    position: relative;
    height: 650px;
}

.hero-slider .slider-img {
    height: 100%;
}

.hero-slider .slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
}

/* SLIDER TEXT */

.hero-slider .slider-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50% );
}

.slider-txt p {
    margin: 25px 0 60px;
}

/* SLIDER DOT NAVIGATION */

.dot-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* MAIN FOOTER */

.main-footer {
    padding-top: 100px;
    background: #222222;
    color: #fff;
}

.main-footer a:hover,
.main-footer a:hover i,
.main-footer a:hover span,
.main-footer a:hover h6 {
    color: #40c4ff;
}

.footer-nav {
    display: flex;
}

.footer-nav .info,
.footer-nav .courses,
.footer-nav .support,
.footer-nav .map-learning {
    width: 25%;
    padding: 0 15px;
}

.footer-nav .courses h5,
.footer-nav .support h5,
.footer-nav .map-learning h5 {
    font-size: 22px;
}

/* FOOTER INFO */

.footer-nav .info img{
    width: 125px;
}

.footer-nav .info li {
    margin-bottom: 20px;
}

.footer-nav .info a {
    color: #959595;
}

.footer-nav .info span {
    margin-left: 8px;
}

/* FOOTER COURSES */

.footer-nav .courses li {
    padding: 10px 0;
}

.footer-nav .courses h6 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #b9b9b9;
}

.footer-nav .courses small {
    font-weight: 700;
}

/* FOOTER SUPPORT */

.footer-nav .support li {
    padding: 8px 0;
}

/* FOOTER COPY */

.main-footer .copy {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #484848cc;
    color: #959595;
}

.main-footer .copy p,
.main-footer .copy a {
    font-size: 14px;
    color: #959595;
}

.main-footer .copy .copy-right li {
    margin-left: 20px;
}