/* MAIN */
/* SLIDER DOT NAVIGATION */

.hero-slider .dot-nav .circle {
    margin: 0 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 1.5px transparent;
    border-radius: 50%;
    background: #ffffff4d;
    transition: background 350ms,
                border 350ms;

}

.hero-slider .dot-nav .circle.active,
.hero-slider .dot-nav .circle.active {
    border: 1.5px solid#fff;
    background: transparent;
}

.hero-slider .dot-nav .circle .small-circle,
.hero-slider .dot-nav .circle .small-circle {
    opacity: 0;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    transition: opacity 350ms;
}

.hero-slider .dot-nav .circle:hover .small-circle,
.hero-slider .dot-nav .circle.active .small-circle {
    opacity: 1;
}

/* SMALL CARDS */

.sm-cards .card-blue {
    width: calc( ( 100% / 6 ) - 20px );
    margin: 10px;
    border: 1px solid #efefef;  
    transition: background 350ms;  
}

.sm-cards .card-blue:hover {
    background: #f7fdff;
}

/* INFO SECTION */
/* INFO TUTORING */

.info-section {
    border-bottom: 2px solid #eaebeb;
}

/* USER POTENTIAL */

.info-users {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.users-txt {
    padding: 30px 90px 30px 30px;
}

.users-img,
.users-txt {
    max-width: 600px;
}

.users-txt span {
    margin-right: 100px;
}

.users-txt span:last-child {
    margin-right: 0;
}

.users-txt span h4 {
    font-size: 48px;
    line-height: 1.5;
}

.users-txt span small {
    font-size: 16px;
}

/* STUDENTS SLIDER */

.students-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/main/students-slider/h5-parallax-img-1.png');
    background-position: center top;
}

/* NEXT & PREV BUTTONS */

.students-slider:hover .next,
.students-slider:hover .prev {
    opacity: 1;
}

.students-slider:hover .next {
    right: 20px;
}

.students-slider:hover .prev {
    left: 20px;
}

.hero-slider .slider-img {
    height: 100%;
}

.students-slider .slider-txt {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.students-slider .slider-txt p {
    margin: 30px 0 40px;
    color: #ffffffcc;
}

.students-slider h5 {
    font-size: 22px;
    margin-bottom: 10px;
}

.students-slider .dot-nav {
    bottom: 100px;
}

.students-slider .dot-nav .circle {
    margin: 0 5px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    transition: background 350ms;
}

.students-slider .dot-nav .circle:hover,
.students-slider .dot-nav .circle.active {
    background: #fff;
}

/* COURSE */
/* COURSE INFO */

.course-info-section,
.popular-courses-section,
.plans-section {
    border-bottom: 2px solid #eaebeb;
}

.course-info {
    display: flex;
}

.course-info h3 {
    font-size: 42px;
}

.course-info p,
.course-info ul li {
    color: #808080;
}

.course-info .info-item {
    padding: 30px 25px;
    width: 280px;
    border: 1px solid #eaebeb;
    cursor: pointer;
    transition: border 350ms,
                background 350ms;
}

.course-info .info-item span {
    color: #847b7b;
}

.course-info .info-item:hover,
.course-info .info-item.active {
    border-left: 10px solid #40c4ff;
    background: #fcfcfc;
}

.course-info .info-item:hover span,
.course-info .info-item.active span {
    color: #40c4ff;
}

.course-info .info-content {
    position: relative;
    width: 100%;
    padding: 20px 50px;
}

.course-info .info-content li {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
    font-size: 18px;
    padding: 0 15px;
}

.course-info .info-content i {
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.course-info .content {
    display: flex;
    align-items: flex-end;
}

.course-info .content-img {
    width: 120px;
}

/*  POPULAR COURSES */

.popular-courses {
    position: relative;
    background: url('../img/main/courses/popular-courses/page-background-img.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    padding: 100px 0;
    border-bottom: 2px solid #eaebeb;
}

.popular-courses .popular-content {
    position: relative;
    padding: 100px 0;
}

/* NEXT & PREV BUTTONS */

.popular-content .next,
.popular-content .prev {
    color: #000;
}

.popular-content:hover .next,
.popular-content:hover .prev {
    opacity: 1;
}

.popular-content:hover .next {
    right: -25px;
}

.popular-content:hover .prev {
    left: -25px;
}

.hero-slider .slider-img {
    height: 100%;
}

.popular-courses .txt-pop-course {
    margin: 0 80px 80px;
}

.popular-courses .txt-pop-course h2 {
    margin-bottom: 20px;
}

.popular-courses .md-cards .card {
    width: calc( ( 100% / 3 ) - 30px );
    margin: 15px;
    border: 1px solid #eaebeb;
    background: #fff;
}

.popular-courses .md-cards .card-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.popular-courses .md-cards .card-txt strong {
    margin-bottom: 5px;
}

.popular-courses .md-cards .card-txt small {
    font-weight: 700;
    color: #cecece;
    margin-bottom: 20px;
}

.popular-courses .md-cards .card-txt p {
    color: #898989;
    font-size: 14px;
    line-height: 1.8;
}

.popular-courses .md-cards .tags {
    display: flex;
    align-items: center;
    color: #cecece;
    margin-top: 20px;
}

.popular-courses .md-cards .card-txt .tags i,
.popular-courses .md-cards .card-txt .tags span {
    font-size: 12px;
}

.popular-courses .md-cards .tags i {
    margin: 0 5px 0 10px;
}

.popular-courses .md-cards .tags span {
    font-weight: 700;
}

.popular-courses .md-cards .card-txt .price {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 15px 0;
    padding: 2px 12px;
    background: #40c4ff;
    border-radius: 20px;
    font-size: 12px;
}

.popular-courses .md-cards .card-txt .price.free {
    background: #ffd740;
}

.popular-courses .dot-nav {
    display:flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.popular-courses .dot-nav .circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 8px;
    border-radius: 50%;
    background: #9ce0ff;
    cursor: pointer;
}

.popular-courses .dot-nav .circle:hover,
.popular-courses .dot-nav .circle.active {
    background: #40c4ff;
}

.h-line {
    width: 100%;
    border: 1px solid #eaebeb;
}

/* PLANS */

.plans {
    padding: 100px 0;
}

.grid-plan {
    display: flex;
}

.grid-titles {
    width: 25%;
    height: 900px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-titles span {
    border: 1px solid #eaebeb;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.grid-titles span.deal {
    display: flex;
    align-items: flex-end;
    color: #000;
    height: 300px;
}

.grid-titles span h5 {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.grid-titles span.deal,
.grid-options .option-title {
    border-top: 4px solid #d6f2ff;
}

.grid-options .option-button,
.grid-options .option-title {
    background: #f7fdff;
}

.grid-options .option-title.active {
    border-top: 4px solid #40c4ff;
}

.grid-titles span {
    font-weight: 700;
}
.grid-titles span,
.grid-options span {
    color: #808080;
    border: 1px solid #eaebeb;
    background: #fff;
}

.grid-options {
    position: relative;
    width: 75%;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}

.grid-options span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-options small {
    text-align: center;
}

.grid-options h5 {
    color: #000;
    font-size: 22px;
    margin-bottom: 20px;
}

.grid-options span {
    border: 1px solid #eaebeb;
}

.grid-options span img {
    margin: 20px 0;
}

.plans .btn-shop {
    position: absolute;
    right: -30px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.plans .btn-shop .btn-square {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .2);
    background: #fff;
    padding: 10px;
}

.plans .btn-shop .btn-square:first-child {
    background:#ee2852;
    padding: 7px;
}

/* ADVERTISING LIST */

.adv-logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.adv-logos li {
    width: calc( 100% / 4 ) ;
}

/* TABLET UP TO 1024px */

@media screen and ( max-width: 1024px ) {

    /* MAIN */
    /* CARDS */

    .sm-cards .card-blue {
        width: calc( ( 100% / 3 ) - 20px );
        margin: 10px;
    }

    .popular-courses .md-cards .card {
        width: 100%;
        margin: 0;
    }

    /* USER POTENTIAL */

    .info-users {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

/* SMARPHONE UP TO 1024px */

@media screen and ( max-width: 1024px ) {

    .grid-titles {
        display: none;
    }
    
    .grid-options {
        width: 100%
    }

}

/* SMARPHONE UP TO 768px */

@media screen and ( max-width: 768px ) {

    /* MAIN */
    /* SMALL CARDS */

    .sm-cards .card-blue {
        width: 100%;
        max-width: 200px;
        margin: 0
    }

    /* USER POTENTIAL */

    .info-users {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* COURSE */
    /* COURSE INFO */

    .course-info {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .course-info .info-item {
        padding: 20px 25px;
    }

    /* ADVERTISING LIST */

    .adv-logos li {
        width: calc( 100% / 2 ) ;
        margin: 15px 0;
    }

    .popular-content .next,
    .popular-content .prev {
        display: none;
    }


}