/* MAIN */
/* SLIDER DOT NAVIGATION */

.hero-slider .dot-nav .circle {
    margin: 0 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px transparent;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
}

.hero-slider .dot-nav .circle.active {
    position: relative;
    border: 2px solid#fff;
    background: transparent;
}

.hero-slider .dot-nav .circle.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    transform: translate( -50%, -50% );
}

/* SMALL CARDS */

.sm-cards .card-blue {
    width: calc( ( 100% / 6 ) - 20px );
    margin: 10px;
    border: 1px solid #efefef;    
    background: #f2f8fc;
}

.sm-cards .card-blue:hover {
    background: #f7fdff;
}

/* INFO SECTION */
/* INFO TUTORING */

.info-section .info-tutoring img {
    border-bottom: 2px solid #eaebeb;
}

/* USER POTENTIAL */

.info-users {
    display: flex;
}

.users-txt {
    padding: 50px;
}

.users-txt span {
    margin-right: 150px;
    font-family: 'Merriweather', serif;
}

.users-txt span:last-child {
    margin-right: 0;
}

.users-txt span h4 {
    font-size: 48px;
}

.users-txt span small {
    font-size: 16px;
}

/* STUDENTS SLIDER */

.students-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/main/students-slider/h5-parallax-img-1.png');
}

.students-slider .slider-txt {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students-slider h5 {
    font-size: 22px;
    margin-bottom: 10px;
}

.students-slider .dot-nav {
    bottom: 80px;
}

.students-slider .dot-nav .circle {
    margin: 0 5px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
}

.students-slider .dot-nav .circle.active {
    background: #fff;
}

/* COURSE */

.course-info {
    display: flex;
}

.course .info-item {
    padding: 30px 25px;
    width: 280px;
    border: 1px solid #eaebeb;
    cursor: pointer;
    transition: border 350ms,
                background 350ms;
}

.course .info-item span {
    color: #847b7b;
}

.course .info-item:hover,
.course .info-item.active {
    border-left: 10px solid #40c4ff;
    background: #fcfcfc;
}

.course .info-item:hover span,
.course .info-item.active span {
    color: #40c4ff;
}

.course-info .info-content {
    position: relative;
    width: 100%;
    padding: 20px 50px;
}

.course-info .info-content p {
    line-height: 1.8;
}

.course-info .info-content li {
    padding: 20px 0;
    font-size: 20px;
    color: #959595;
}

.course-info .info-content i {
    padding-right: 5px;
}

.course-info .info-content img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 120px;
}

/* TABLET UP TO 1024px */

@media screen and ( max-width: 1024px ) {

    /* MAIN */
    /* SMALL CARDS */

    .sm-cards .card-blue {
        width: calc( ( 100% / 3 ) - 20px );
        margin: 10px;
    }

    /* USER POTENTIAL */

    .info-users {
        display: block;
    }

}