/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

body {
    font-family: 'Open Sans', sans-serif;
}

/* CONTAINER */

[class*="container"] {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    width: 1120px;
}

.container-small {
    width: 1020px;
}

/* IMAGES */

.img-resp {
    display: inline-flex;
    max-width: 100%;
    height: auto;
}

/* POSITION */

.pos-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* TYPOGRAPHY */

a {
    text-decoration: none;
}

p {
    color: #959595;
    font-size: 16px;
    line-height: 1.8;
}
    
h1,
h2,
h3,
h5 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

/* LISTS */

.h-list li {
    display: inline-flex;
}

.v-list li {
    list-style: none;
}

.txt-sans {
    font-family: 'Open Sans', sans-serif;
}

.txt-serif {
    font-family: 'Merriweather', serif;
}

/* TEXT SETTINGS */

.txt-center{
    text-align: center;
}
 
.txt-upper {
    text-transform: uppercase;
}
 
.txt-capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: 700;
}

/* COLORS */

.col-w {
    color: #fff;
}

.col-blue {
    color: #40c4ff;
}

.col-dark-g {
    color: #959595;
}

/* MARGINS */

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

/* BUTTONS */

.btn {
    padding: 20px 30px;
    background: none;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.btn-square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 65px;
    height: 65px;
    border: none;
}

.btn-blue {
    color: #fff;
    background: #40c4ff;

}

.btn-outline {
    color: #808080;
    background: #fff;
    border: 2px solid #eaebeb;
}

.btn-fx-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
}

/* LAYOUT */

.w-50.w-desktop {
    width: calc(100% / 2);
}

.w-50 {
    width: calc(100% / 2);
}

.h-div {
    display: flex;
}

/* OTHERS */

.badge {
    position: absolute;
    top: 25px;
    right: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #40c4ff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

/* CARDS */ 

[class*='cards'] {
    display: flex;
    flex-wrap: wrap;
}

.sm-cards .card-blue {
    padding: 40px 30px;
    background: #f2f8fc;
    cursor: pointer;
}

/* MEDIA QUERYS UTILITIES */

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}


/* TABLET UP TO 1024px */

@media screen and ( max-width: 1024px ) {

    /* MEDIA QUERYS UTILITIES */
    
    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: inline-flex;
    }

    /* LAYOUT */

    .w-50.w-desktop {
        width: 100%;
    }

}
