<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iAccademy</title>
    <!-- ICON -->
    <link rel="icon" href="./img/favicon/sidearea-logo.png">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- UTILITIES -->
    <link rel="stylesheet" href="./css/utilities.css">
    <!-- PAGE STRUCTURE -->
    <link rel="stylesheet" href="./css/page-structure.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/syle.css">
    <!-- VUE DEV. SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- VUE PROD. SCRIPT -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</head>
<body>

    <div id="iAccademy">
        <!-- MAIN HEADER -->
        <header :class="['main-header', scrolled ? 'scrolled' : '' ]" >
            <!-- CONTAINER -->
            <div class="container">
                <!-- NAVBAR -->
                <nav class="navbar">
                    <!-- NAVBAR LOGO -->
                    <div class="nav-img">
                        <img v-if="scrolled" class="img-resp" src="./img/header/logo-default.png" alt="iAccademy">
                        <img v-else="scrolled" class="img-resp" src="./img/header/logo-light.png" alt="iAccademy">
                    </div>
                    <!-- NAVBAR MENU -->
                    <div class="desktop-only nav-menu">
                        <ul class="nav-list txt-upper h-list">
                            <li v-for=" ( el , i ) in navbarList " class="nav-item">
                                <a @click.prevent class="col-w" href="#">
                                    {{ el.item }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav-cta h-list">
                        <li v-for=" ( el, i ) in ctaList " class="cta-item">
                            <a @click.prevent href="#">
                                <i :class="`fas ${el.icon}`"></i>
                                <span v-if=" el.bagde ? 'bagde' : '' " class="badge" > 0 </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- MAIN SECTION -->
        <main class="main-section">

            <!-- HERO SLIDER -->
            <section class="hero-slider"
                @mouseenter="stopSlider"
                @mouseleave="startSlider"
                >

                <!-- NEXT & PREV BUTTONS -->    
                <i @click="next" class="next fas fa-chevron-right"></i>
                <i @click="prev" class="prev fas fa-chevron-left"></i>
                
                <!-- SLIDER IMAGES -->
                <div class="slider-img">
                    <img :src="`./img/main/hero-slider/${heroSlider[heroIndex].image}.jpg`" alt="">
                </div>
                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <h1 class="col-w">{{heroSlider[heroIndex].title}}</h1>
                    <p>{{heroSlider[heroIndex].text}}</p>
                    <a class="btn btn-blue" href="#register-now"> {{heroSlider[heroIndex].button}} </a>
                </div>
                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span v-for="(el,i) in heroSlider" 
                        @click="navCircleHero(i)" 
                        :class="['circle', heroIndex === i ? 'active' : '' ]"
                        >
                        <span class="small-circle" if="heroIndex === i"></span>
                    </span>
                </div>

            </section>

            <!-- SMALL CARDS -->
            <div class="container mt-50">                
                <section class="sm-cards">
                    <div v-for=" ( el, i ) in smCards " class="card-blue txt-center">
                        <img :src="`./img/main/sm-cards/h5-custom-icon-${el.image}.png`" alt="World">
                        <h5 class="mt-25"> {{el.title}} </h5>
                    </div>
                </section>
            </div>

            <!-- INFO SECTION -->
            <section class="info-section mt-100">
                <div class="container">
                    <!-- INFO TUTORING -->
                    <div class="info-tutoring">
                        <h3 class="mb-25">The Trusted Name <br> 
                        for In-Home Tutoring.</h3>
                        <p class="mb-25">Lorem, elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                        <a @click.prevent class="bold txt-upper col-blue" href="#">learn more</a>
                        <img class="img-resp mt-25" src="./img/main/info-section/h5-img-1.jpg" alt="Lorem ipsum dolor sit">
                    </div>
                </div>
            </section>
    
            <!-- USER POTENTIAL -->
            <section class="info-users mt-75">
                <div class="w-50 w-desktop users-img">
                    <img class="img-resp" src="./img/main/info-section/h5-img-2.jpg" alt="Lorem ipsum dolor sit">
                </div>
                <div class="w-50 w-desktop users-txt">
                    <h3 class="mb-25">Empowering Children to Reach Their Potentiel.</h3>
                    <p class="mb-25">Lorem elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                    <div class="dates h-div col-blue">
                        <span>
                            <h4 class="txt-serif">168</h4>
                            <small class="bold txt-serif">User Stories</small>
                        </span>
                        <span>
                            <h4 class="txt-serif">347</h4>
                            <small class="bold txt-serif">Events</small>
                        </span>
                    </div>
                </div>
            </section>

            <!-- STUDENTS SLIDER -->
            <section class="students-slider mt-50"
                @mouseenter="stopSlider"
                @mouseleave="startSlider"
                >

                <!-- NEXT & PREV BUTTONS -->    
                <i @click="next" class="next fas fa-chevron-right"></i>
                <i @click="prev" class="prev fas fa-chevron-left"></i>

                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <img :src="`./img/main/students-slider/${studentSlider[studentsIndex].image}.png`" alt="Lorem ipsum dolor sit amet">
                    <p class="col-w">{{studentSlider[studentsIndex].text}}</p>
                    <h5 class="col-w">{{studentSlider[studentsIndex].name}}</h5>
                    <small class="col-w bold txt-upper"> {{studentSlider[studentsIndex].type}} </small>
                </div>

                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span v-for="(el,i) in studentSlider" 
                    @click="navCircleStudents(i)" 
                    :class="['circle', studentsIndex === i ? 'active' : '' ]"
                    >
                </div>
            </section>

            <!-- COURSE -->
            <!-- COURSE INFO -->
            <section class="course-info-section mt-100">
                <div class="container">
                    <div class="course-info mb-100">
                        <ul class="info-list v-list">
                            <li v-for="( el, i ) in infoList"
                                @click="getIndexCourse(i)"
                                :class="['info-item bold txt-serif', courseIndex === i ? 'active' : '']" 
                                >
                                <span href="#"
                                >
                                    {{el.name}}
                                </span>
                            </li>
                        </ul>
                        <div v-for="(el, i) in infoList" class="info-content" v-if="courseIndex === i">
                            <h3 class="mb-25">{{el.title}}</h3>
                            <p class="mb-50">{{ el.text }}</p>
                            <div class="content">
                                <ul class="v-list content-list">
                                    <li v-for="item in el.list">
                                        <i class="fas fa-check col-blue"></i>
                                        <p>
                                            {{ item }}
                                        </p>
                                    </li>
                                </ul>
                                <div class="content-img">
                                    <img class="img-resp" :src="`./img/main/courses/course-info/${el.image}.png`" alt="lorem ipsum dates dates">
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </section>

            <!-- POPULAR COURSES -->
            <section class="popular-courses">
                <div class="container popular-content">
                    <div class="txt-pop-course txt-center">
                        <h2>Popular Online Courses</h2>
                        <p>Lore harum minus, dolore exercitationem numquamrum nostrum praesentium, laboriosam porro suscipit iure accusamus?</p>
                    </div>
                    <div v-for="(e, index) in courseSlider" 
                        class="course-slider"
                        @mouseenter="stopSlider"
                        @mouseleave="startSlider"
                        >

                        <!-- NEXT & PREV BUTTONS -->    
                        <i @click="next" class="next fas fa-chevron-right"></i>
                        <i @click="prev" class="prev fas fa-chevron-left"></i>

                        <!-- MD CARDS -->
                        <div v-show="coursesIndex === index" class="md-cards">
                            <div v-for="el in e.slider" class="card">
                                <div class="card-img">
                                    <img class="img-resp" :src="`./img/main/courses/popular-courses/${el.image}.jpg`" :alt="el.title">
                                </div>
                                <div class="card-txt">
                                    <strong class="txt-serif">{{ el.title }}</strong>
                                    <small>{{el.author}}</small>
                                    <span :class="['price col-w txt-upper', el.price === 'free' ? 'free' : '']"> {{ el.price }}</span>
                                    <p>{{el.text}}</p>
                                    <div class="tags mt-25">
                                        <span v-for="(e,i) in el.tags">
                                            <i :class="`fas ${e.icon}`"></i> <span> {{ e.text }} </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-nav mt-50">
                                <span v-for="(el,i) in courseSlider" 
                                @click="navCircleCourses(i)" 
                                :class="['circle', coursesIndex === i ? 'active' : '' ]"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="h-line">

                <!-- PLANS -->
                <div class="plans" id="register-now">
                    <div class="container plan-container">
                        <div class="plan-text txt-center">
                            <h2>Pricing Plans</h2>
                            <p class="mt-25">Lorem, i maiores qui unde nostrum voluptate, amet autem, laboriosam ipsum libero?</p>
                        </div>
                        <div class="grid-plan mt-75">
                            <div class="grid-titles">
                                <span class="title-item deal">
                                    <h5>Save up to 40% by paying weekly</h5>
                                </span>
                                <span class="title-item">
                                    Number of Courses
                                </span>
                                <span class="title-item">
                                    Time
                                </span>
                                <span class="title-item">
                                    Web design
                                </span>
                                <span class="title-item">
                                    Human-Centered Design
                                </span>
                                <span class="title-item">
                                    Basic Marketing
                                </span>
                                <span class="title-item">
                                    Python for Everybody
                                </span>
                                <span class="title-item">
                                    Android Developer
                                </span>
                                <span class="title-item">
                                    Business English
                                </span>
                            </div>
                            <div class="grid-options">
                                <span class="option-title">
                                    <img src="./img/main/plans/h5-custom-icon-7.png" alt="Standard plan">
                                    <h5>Standard</h5>
                                    <h5 class="price">
                                        <small class="txt-sans">
                                            $12
                                        </small>    
                                    </h5>
                                </span>
                                <span class="option-title active">
                                    <img src="./img/main/plans/h5-custom-icon-8.png" alt="Standard plan">
                                    <h5>Professional</h5>
                                    <h5 class="price">
                                        <small class="txt-sans">
                                            $59
                                        </small>    
                                    </h5>
                                </span>
                                <span class="option-title">
                                    <img src="./img/main/plans/h5-custom-icon-9.png" alt="Standard plan">
                                    <h5>Advanced</h5>
                                    <h5 class="price">
                                        <small class="txt-sans">
                                            $88
                                        </small>    
                                    </h5>
                                </span>
                                <span class="option-item">
                                    2
                                    <small class="mobile-only">Courses</small>
                                </span>
                                <span class="option-item">
                                    4
                                    <small class="mobile-only">Courses</small>
                                </span>
                                <span class="option-item">
                                    6
                                    <small class="mobile-only">Courses</small>
                                </span>
                                <span class="option-item">
                                    15 Days
                                </span>
                                <span class="option-item">
                                    30 Days
                                </span>
                                <span class="option-item">
                                    30 Days
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Web Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Web Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Web Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Human-Centered Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Human-Centered Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Human-Centered Design</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Basic Marketing</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Basic Marketing</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Basic Marketing</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Python for Everybody</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Python for Everybody</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Python for Everybody</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Android Developer</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Android Developer</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Android Developer</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Business English</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-times"></i>
                                    <small class="mobile-only txt-del">Business English</small>
                                </span>
                                <span class="option-item">
                                    <i class="desktop-only fas fa-check col-blue"></i>
                                    <small class="mobile-only">Business English</small>
                                </span>
                                <span class="option-button">
                                    <a href="#" @click.prevent class="btn btn-outline">GET IT NOW</a>
                                </span>
                                <span class="option-button">
                                    <a href="#" @click.prevent class="btn btn-blue">GET IT NOW</a>
                                </span>
                                <span class="option-button">
                                    <a href="#" @click.prevent class="btn btn-outline">GET IT NOW</a>
                                </span>
                                <div class="btn-shop">
                                    <a href="#" class="btn btn-square">
                                        <img class="img-resp" src="./img/main/plans/svg-0.svg" alt="Lorem ipsum">
                                    </a>
                                    <a href="#" class="btn btn-square">
                                        <img class="img-resp" src="./img/main/plans/svg-2.svg" alt="Lorem ipsum">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ADVERTISING LIST -->
            <section class="adv-logos mb-100 mt-100">
                <div class="container">
                    <ul class="">
                        <li v-for=" (img,i) in  advList">
                            <a @click.prevent href="#"  @mouseover="changeH(i)" @mouseleave="changeH(i)">
                                <img class="img-resp" v-if=" indexAdv === i " :src="`./img/main/adv/${img.imgH}.png`" alt="lorem">
                                <img class="img-resp" v-else :src="`./img/main/adv/${img.img}.png`" alt="lorem">
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <!-- MAIN FOOTER -->
        <footer class="main-footer">
            <div class="container">
                <div class="footer-nav mb-50">
                    <div class="info">
                        <img class="img-resp" src="./img/header/logo-light.png" alt="Logo">
                        <p class="mt-25">Providing Life Changing Experiences Throught Education. Class That Fit Your Busy Life. Closer to Home</p>
                        <ul class="v-list mt-25">
                            <li>
                                <a @click.prevent href="#">
                                    <i class="fas fa-phone"></i>
                                    <span>
                                        1-677-124-44227    
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent href="#">
                                    <i class="fas fa-clock"></i>
                                    <span>
                                        Mon - Sat 8.00 - 18.00    
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="courses">
                        <h5>Popular Courses</h5>
                        <ul class="courses-list v-list mt-25" >
                            <li v-for=" item in footerCourses " class="course-item">
                                <a @click.prevent class="col-dark-g" href="#">
                                    <h6 class="txt-serif"> {{ item.title }} </h6>
                                    <small> {{ item.sub }} </small>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="support"> 
                        <h5>Support</h5>
                        <ul class="support-list v-list mt-25">
                            <li v-for=" item in footerSupport " class="support-item">
                                <a @click.prevent class="col-dark-g" href="#">
                                    {{ item }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="map-learning txt-center">
                        <h5>Flexible Learning</h5>
                        <img class="img-resp mt-25" src="./img/footer/footer-img-1.png" alt="Map learning">
                    </div>
                </div>
                <div class="copy">
                    <div class="copy-left">
                        <p> Copyrights 2017 Mikado Themes </p>
                    </div>
                    <div class="copy-right">
                        <ul class="h-list">
                            <li>
                                <a @click.prevent href="#">
                                    CALL +44 300 303 0266
                                </a>
                            </li>
                            <li>
                                <a @click.prevent href="#">FOLLOW US</a>
                            </li>
                            <li>
                                <a @click.prevent href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="btn btn-fx-bottom btn-square btn-blue txt-center btn-top"> 
            <i class="fas fa-chevron-up"></i>
            <span>
                TOP
            </span>
        </a>
    </div>
    
    <!-- MAIN JS -->
    <script src="./js/main.js"></script>
</body>
</html>