<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iAccademy</title>
    <!-- ICON -->
    <link rel="icon" href="./img/favicon/favicon.png">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- UTILITIES -->
    <link rel="stylesheet" href="./css/utilities.css">
    <!-- PAGE STRUCTURE -->
    <link rel="stylesheet" href="./css/page-structure.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/syle.css">
    <!-- VUE DEV. SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- VUE PROD. SCRIPT -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

</head>
<body>

    <div id="iAccademy">
        <!-- MAIN HEADER -->
        <header class="main-header">
            <!-- CONTAINER -->
            <div class="container">
                <!-- NAVBAR -->
                <nav class="navbar">
                    <!-- NAVBAR LOGO -->
                    <div class="nav-img">
                        <img class="img-resp" src="./img/header/logo-light.png" alt="iAccademy">
                    </div>
                    <!-- NAVBAR MENU -->
                    <div class="desktop-only nav-menu">
                        <ul class="nav-list txt-upper h-list">
                            <li v-for=" ( el , i ) in navbarList " class="nav-item">
                                <a class="col-w" href="#">
                                    {{ el.item }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav-cta h-list">
                        <li v-for=" ( el, i ) in ctaList " class="cta-item">
                            <a href="#">
                                <i :class="`col-w fas ${el.icon}`"></i>
                                <span v-if=" el.bagde ? 'bagde' : '' " class="badge" > 0 </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- MAIN SECTION -->
        <main class="main-section">

            <!-- HERO SLIDER -->
            <section class="hero-slider">
                
                <!-- SLIDER IMAGES -->
                <div class="slider-img">
                    <img src="./img/main/hero-slider/h5-slide-3-background.jpg" alt="">
                </div>
                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <h1 class="col-w">Contemporary Ideas</h1>
                    <p class="col-w">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed odio ipsam ea libero iste in esse quo eos numquam ipsa ullam repellendus, alias praesentium quis atque ex ducimus deserunt illum!</p>
                    <a class="btn btn-blue" href="#"> register now </a>
                </div>
                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle active"></span>
                </div>

            </section>

            <div class="container mt-50">                
                <section class="sm-cards">
                    <div v-for=" ( el, i ) in smCards " class="card-blue txt-center">
                        <img :src="`./img/main/sm-cards/h5-custom-icon-${el.image}.png`" alt="World">
                        <h5 class="mt-25"> {{el.title}} </h5>
                        <!-- H5 LEGGERMENTE A DESTRA ? -->
                    </div>
                </section>

                <!-- INFO SECTION -->
                <section class="info-section mt-100">
                    
                    <!-- INFO TUTORING -->
                    <div class="info-tutoring">
                        <h3 class="mb-25">The Trusted Name <br> 
                        for In-Home Tutoring.</h3>
                        <p class="mb-25">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                        <a class="bold txt-upper col-blue" href="#">learn more</a>
                        <img class="img-resp" src="./img/main/info-section/h5-img-1.jpg" alt="Lorem ipsum dolor sit">
                    </div>

                    <!-- USER POTENTIAL -->
                    <div class="info-users mt-100">
                        <div class="w-50 w-desktop users-img">
                            <img class="img-resp" src="./img/main/info-section/h5-img-2.jpg" alt="Lorem ipsum dolor sit">
                        </div>
                        <div class="w-50 w-desktop users-txt">
                            <h3 class="mb-25">Empowering Children to Reach Their Potentiel.</h3>
                            <p class="mb-25">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                            <div class="dates h-div col-blue">
                                <span>
                                    <h4>168</h4>
                                    <small class="bold">User Stories</small>
                                </span>
                                <span>
                                    <h4>347</h4>
                                    <small class="bold">Events</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- STUDENTS SLIDER -->
            <section class="students-slider mt-50">
                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <img src="./img/main/students-slider/testimonials-standard-2.png" alt="Lorem ipsum dolor sit amet">
                    <p class="col-w">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus obcaecati qui illum deleniti iste repudiandae dolor, sit amet consectetur psam ea libero iste in esse quo eos numquam ipsa ullam repellendus, alias praesentium quis atque ex ducimus deserunt illum!</p>
                    <h5 class="col-w">Joan Collins</h5>
                    <small class="col-w bold txt-upper"> STUDENT </small>
                </div>
                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span class="circle"></span>
                    <span class="circle active"></span>
                    <span class="circle"></span>
                </div>

            </section>


        </main>

    </div>
    
    <!-- MAIN JS -->
    <script src="./js/main.js"></script>
</body>
</html>