<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iAccademy</title>
    <!-- ICON -->
    <link rel="icon" href="./img/favicon/favicon.png">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- UTILITIES -->
    <link rel="stylesheet" href="./css/utilities.css">
    <!-- PAGE STRUCTURE -->
    <link rel="stylesheet" href="./css/page-structure.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/syle.css">
    <!-- VUE DEV. SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- VUE PROD. SCRIPT -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

</head>
<body>

    <div id="iAccademy">
        <!-- MAIN HEADER -->
        <header class="main-header">
            <!-- CONTAINER -->
            <div class="container">
                <!-- NAVBAR -->
                <nav class="navbar">
                    <!-- NAVBAR LOGO -->
                    <div class="nav-img">
                        <img class="img-resp" src="./img/header/logo-light.png" alt="iAccademy">
                    </div>
                    <!-- NAVBAR MENU -->
                    <div class="desktop-only nav-menu">
                        <ul class="nav-list txt-upper h-list">
                            <li v-for=" ( el , i ) in navbarList " class="nav-item">
                                <a class="col-w" href="#">
                                    {{ el.item }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav-cta h-list">
                        <li v-for=" ( el, i ) in ctaList " class="cta-item">
                            <a href="#">
                                <i :class="`col-w fas ${el.icon}`"></i>
                                <span v-if=" el.bagde ? 'bagde' : '' " class="badge" > 0 </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- MAIN SECTION -->
        <main class="main-section">

            <!-- HERO SLIDER -->
            <section class="hero-slider">
                
                <!-- SLIDER IMAGES -->
                <div class="slider-img">
                    <img src="./img/main/hero-slider/h5-slide-3-background.jpg" alt="">
                </div>
                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <h1 class="col-w">Contemporary Ideas</h1>
                    <p class="col-w">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed odio ipsam ea libero iste in esse quo eos numquam ipsa ullam repellendus, alias praesentium quis atque ex ducimus deserunt illum!</p>
                    <a class="btn btn-blue" href="#"> register now </a>
                </div>
                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle active"></span>
                </div>

            </section>

            <div class="container mt-50">                
                <section class="sm-cards">
                    <div v-for=" ( el, i ) in smCards " class="card-blue txt-center">
                        <img :src="`./img/main/sm-cards/h5-custom-icon-${el.image}.png`" alt="World">
                        <h5 class="mt-25"> {{el.title}} </h5>
                        <!-- H5 LEGGERMENTE A DESTRA ? -->
                    </div>
                </section>

                <!-- INFO SECTION -->
                <section class="info-section mt-100">
                    
                    <!-- INFO TUTORING -->
                    <div class="info-tutoring">
                        <h3 class="mb-25">The Trusted Name <br> 
                        for In-Home Tutoring.</h3>
                        <p class="mb-25">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                        <a class="bold txt-upper col-blue" href="#">learn more</a>
                        <img class="img-resp" src="./img/main/info-section/h5-img-1.jpg" alt="Lorem ipsum dolor sit">
                    </div>

                    <!-- USER POTENTIAL -->
                    <div class="info-users mt-100">
                        <div class="w-50 w-desktop users-img">
                            <img class="img-resp" src="./img/main/info-section/h5-img-2.jpg" alt="Lorem ipsum dolor sit">
                        </div>
                        <div class="w-50 w-desktop users-txt">
                            <h3 class="mb-25">Empowering Children to Reach Their Potentiel.</h3>
                            <p class="mb-25">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam eos in veritatis excepturi porro delectus optio libero, numquam, ex et nihil, eius ratione perferendis asperiores quasi dolorum neque sapiente sint?</p>
                            <div class="dates h-div col-blue">
                                <span>
                                    <h4>168</h4>
                                    <small class="bold">User Stories</small>
                                </span>
                                <span>
                                    <h4>347</h4>
                                    <small class="bold">Events</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- STUDENTS SLIDER -->
            <section class="students-slider mt-50">
                <!-- SLIDER TXTS -->
                <div class="slider-txt txt-center">
                    <img src="./img/main/students-slider/testimonials-standard-2.png" alt="Lorem ipsum dolor sit amet">
                    <p class="col-w">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus obcaecati qui illum deleniti iste repudiandae dolor, sit amet consectetur psam ea libero iste in esse quo eos numquam ipsa ullam repellendus, alias praesentium quis atque ex ducimus deserunt illum!</p>
                    <h5 class="col-w">Joan Collins</h5>
                    <small class="col-w bold txt-upper"> STUDENT </small>
                </div>
                <!-- SLIDER DOT NAVIGATION -->
                <div class="dot-nav">
                    <span class="circle"></span>
                    <span class="circle active"></span>
                    <span class="circle"></span>
                </div>
            </section>

            <!-- COURSE -->
            <!-- COURSE INFO -->
            <section class="course-info-section mt-100">
                <div class="container">
                    <div class="course-info mb-100">

                        <ul class="info-list v-list">
                            <li v-for="( el, i ) in infoList"
                                @click="getIndexCourse(i)"
                                :class="['info-item bold txt-serif', courseIndex === i ? 'active' : '']" 
                                >
                                <span href="#"
                                >
                                    {{el.name}}
                                </span>
                            </li>
                        </ul>
                        <div v-for="(el, i) in infoList" class="info-content" v-if="courseIndex === i">
                            <h3 class="mb-25">{{el.title}}</h3>
                            <p class="mb-50">{{ el.text }}</p>
                            <ul class="v-list">
                                <li v-for="item in el.list">
                                    <i class="fas fa-check col-blue"></i>
                                    {{ item }}
                                </li>
                            </ul>
                            <img src="./img/main/courses/course-info/h12-tabs-icon-1.png" alt="lorem ipsum dates dates">
                        </div>

                    </div>        
                </div>
            </section>

            <!-- POPULAR COURSES -->
            <section class="popular-courses">
                <div class="container popular-content">
                    <div class="txt-pop-course txt-center">
                        <h2 class="mb-25">Popular Online Courses</h2>
                        <p class="mb-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nobis nulla dolores! Eveniet quaerat amet harum minus, dolore exercitationem numquam debitis qui laborum nostrum praesentium, laboriosam porro suscipit iure accusamus?</p>
                    </div>
                    <div class="course-slider">
                        <div class="md-cards">
                            <div v-for="(el, index) in courseSlider" class="card">
                                <div class="card-img">
                                    <img class="img-resp" :src="`${el.image}.jpg`" :alt="el.title">
                                </div>
                                <div class="card-txt">
                                    <strong class="txt-serif">{{ el.title }}</strong>
                                    <small>{{el.author}}</small>
                                    <span :class="['price col-w txt-upper', el.price === 'free' ? 'free' : '']"> {{ el.price }}</span>
                                    <p>{{el.text}}</p>
                                    <div class="tags mt-25">
                                        <span v-for="(e,i) in el.tags">
                                            <i :class="`fas ${e.icon}`"></i> <span> {{ e.text }} </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dot-nav mt-50">
                            <span class="circle"></span>
                            <span class="circle active"></span>
                            <span class="circle"></span>
                        </div>
                    </div>
                    <hr class="h-line">
                    <!-- SERVE? -->
                </div>
                
                <!-- PLANS -->
                <div class="plans">
                    <div class="container">
                        <div class="plan-text txt-center">
                            <h2>Pricing Plans</h2>
                            <p class="mt-25">Lorem, i maiores qui unde nostrum voluptate rem similique minus aliquam, amet autem, laboriosam ipsum libero?</p>
                        </div>
                        <div class="plan-table mt-100">
                            <ul class="v-list">
                                <li>
                                    <h5>Save up to 40% by paying weekly</h5>
                                </li>
                                <li>
                                    Number of Courses
                                </li>
                                <li>
                                    Time
                                </li>
                                <li>
                                    Web designing
                                </li>
                                <li>
                                    Human-Centered Design
                                </li>
                                <li>
                                    Basic Marketing
                                </li>
                                <li>
                                    Python for Everybody
                                </li>
                                <li>
                                    Android Developer
                                </li>
                                <li>
                                    Business English
                                </li>
                            </ul>
                            <table>
                                <tr>
                                    <th class="plan">
                                        <img src="./img/main/plans/h5-custom-icon-7.png" alt="Standard plan">
                                        <h5>Standard</h5>
                                        <h5 class="price">
                                            <small class="txt-sans">
                                                $12
                                            </small>    
                                        </h5>
                                    </th>
                                    <th class="plan active">
                                        <img src="./img/main/plans/h5-custom-icon-8.png" alt="Professional plan">
                                        <h5>Professional</h5>
                                        <h5 class="price">
                                            <small class="txt-sans">
                                                $59
                                            </small>    
                                        </h5>
                                    </th>
                                    <th class="plan">
                                        <img src="./img/main/plans/h5-custom-icon-9.png" alt="Advanced plan">
                                        <h5>Advanced</h5>
                                        <h5 class="price">
                                            <small class="txt-sans">
                                                $88
                                            </small>    
                                        </h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    
                                </tr>
                                <tr>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-lg"> <i class="fas fa-times"></i> </td>
                                    <td class="col-blue"><i class="fas fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td class="btn-cell">
                                        <a href="#" class="btn btn-outline">GET IT NOW</a>
                                    </td>
                                    <td class="btn-cell">
                                        <a href="#" class="btn btn-blue">GET IT NOW</a>
                                    </td>
                                    <td class="btn-cell">
                                        <a href="#" class="btn btn-outline">GET IT NOW</a>
                                    </td>
                                </tr>
                                <div class="btn-shop">
                                    <a href="#" class="btn btn-square">
                                        <img class="img-resp" src="./img/main/plans/svg-0.svg" alt="Lorem ipsum">
                                    </a>
                                    <a href="#" class="btn btn-square">
                                        <img class="img-resp" src="./img/main/plans/svg-2.svg" alt="Lorem ipsum">
                                    </a>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ADVERTISING LIST -->
            <section class="adv-logos mb-100 mt-100">

                <ul class="h-list txt-center">
                    <li v-for=" (img,i) in  advList">
                        <a href="#"  @mouseover="changeH(i)" @mouseleave="changeH(i)">
                            <img v-if=" indexAdv === i " :src="`./img/main/adv/${img.imgH}.png`" alt="lorem">
                            <img v-else :src="`./img/main/adv/${img.img}.png`" alt="lorem">
                        </a>
                    </li>
                </ul>
            </section>
        </main>

        <!-- MAIN FOOTER -->
        <footer class="main-footer">
            <div class="container">
                <div class="footer-nav mb-50">
                    <div class="info">
                        <img class="img-resp" src="./img/header/logo-light.png" alt="Logo">
                        <p class="mt-25">Providing Life Changing Experiences Throught Education. Class That Fit Your Busy Life. Closer to Home</p>
                        <ul class="v-list mt-25">
                            <li>
                                <a href="#">
                                    <i class="fas fa-phone"></i>
                                    <span>
                                        1-677-124-44227    
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-clock"></i>
                                    <span>
                                        Mon - Sat 8.00 - 18.00    
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="courses">
                        <h5>Popular Courses</h5>
                        <ul class="courses-list v-list mt-25" >
                            <li v-for=" item in footerCourses " class="course-item">
                                <a class="col-dark-g" href="#">
                                    <h6 class="txt-serif"> {{ item.title }} </h6>
                                    <small> {{ item.sub }} </small>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="support"> 
                        <h5>Support</h5>
                        <ul class="support-list v-list mt-25">
                            <li v-for=" item in footerSupport " class="support-item">
                                <a class="col-dark-g" href="#">
                                    {{ item }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="map-learning txt-center">
                        <h5>Flexible Learning</h5>
                        <img class="img-resp mt-25" src="./img/footer/footer-img-1.png" alt="Map learning">
                    </div>
                </div>
                <div class="copy">
                    <div class="copy-left">
                        <p> Copyrights 2017 Mikado Themes </p>
                    </div>
                    <div class="copy-right">
                        <ul class="h-list">
                            <li>
                                <a href="#">
                                    CALL +44 300 303 0266
                                </a>
                            </li>
                            <li>
                                <a href="#">FOLLOW US</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="btn btn-fx-bottom btn-square btn-blue txt-center"> ^ <br> TOP </a>
    </div>
    
    <!-- MAIN JS -->
    <script src="./js/main.js"></script>
</body>
</html>